<div class = "main_chat_header">
  <div class = "header_left">
    <div class = "current_room">
      <%= @room.name %>
    </div>
  </div>
  <div class = "header_right">
    <div class = "close_room">
      <a href = "#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class = "messages">
  <%= render partial: "message", collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |form| %>
  <div class="form_input">
    <%= form.text_field :content, class: "form_message", placeholder: "type a message"%>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= form.file_field :image, class: "hidden" %>
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
<% end %>

